# Datos descargados y archivos generados
data/
*.db
pokemon_docs.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Entorno
.env
*.env

# MongoDB
mongod.lock
/mongodb-data/
/mongo-data/
